{% extends 'layout.html' %}

{% block content %}

{% load static %}

{% load tz %}



<div class="container flex-grow-1 px-5 pt-2">

    <div class="d-flex pt-2 justify-content-between mb-3 flex-wrap align-items-center">
        <h4 class="text-gray fw-bold p-0 m-0">Gestión de remisiones</h4>

        <ul class="d-flex flex-row p-0 m-0 custom-breadcrumb">
            <li class="fw-bolder text-dark "><a href="{% url 'referrals' %}">Remisiones</a></li>
            <li class="mx-2">|</li>
            <li class="fw-lighter">{% if referral.id_remision %} {{ referral.id_remision }} {% else %} Nueva {% endif %}</li>
        </ul>

    </div>
    <div class="card">
        <div class="card-header bg-white d-flex flex-row align-items-center justify-content-between py-3">
            <h6 class="card-title m-0 fw-bold">{% if referral.id_remision %} Editar {% else %} Crear {% endif %} remisión</h6>
        </div>
        <form action="" method="post" class="needs-validation" id="form-referral">
            {% csrf_token %}
            <input type="hidden" id="nit-company" value="{{ company.nit }}">
            <input type="hidden" id="referral-id" value="{{ referral.id_remision }}">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-3 my-2">
                        <label for="code" class="form-label">Empresa </label>
                        <input type="text" class="form-control" value="{{ company.nombre }}"  maxlength="5" disabled>
                    </div>

                    <div class="col-md-3 my-2">
                        <label for="start-date" class="form-label">Fecha inicio del cargue <span
                            class="text-danger">*</span></label>
                        <input type="datetime-local" class="form-control" id="start-date"  name="start-date" value="{{ referral.fecha_expedicion|localtime|date:'Y-m-d'}} {{ referral.fecha_expedicion|time}}" required>
                    </div>
                    <div class="col-md-3 my-2">
                        <label for="deadline" class="form-label">Fecha limite de entrega<span
                            class="text-danger">*</span></label>
                        <input type="date" class="form-control" id="deadline" name="deadline" value="{{ referral.fecha_entrega|date:'Y-m-d' }}" required>
                    </div>
                    <div class="col-md-3 my-2">
                        <label for="select-vehicle-type" class="form-label">Tipo de vehículo <span
                            class="text-danger">*</span> </label>
                        <select class="form-select"  id="select-vehicle-type" name="select-vehicle-type" required>
                            <option value="" selected>Seleccione una opción</option>
                            {% for vehicle_type in vehicle_types %}
                            <option value="{{ vehicle_type.id }}" {% if referral.placa.tipo.id == vehicle_type.id %} selected {% endif %} >{{ vehicle_type.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-3 my-2">
                        <label for="select-vehicle-id" class="form-label">Placa <span
                            class="text-danger">*</span><i class="fa-solid fa-spinner fa-spin ms-2"
                            id="load-vehicle" style="display: none;"></i></label>
                        <select class="form-select"  id="select-vehicle-id" name="vehicle-id" data-selected="{{ referral.placa.placa }}" required>
                            <option value="" selected>Seleccione una opción</option>
                            {% for vehicle in vehicles %}
                            <option value="{{ vehicle.placa }}" {% if vehicle.placa == referral.placa.placa %} selected {% endif %} >{{ vehicle.placa }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="col-md-3 my-2" id="trailer-container">
                        <label for="trailer-select" class="form-label">Trailer </label>
                        <select class="form-select" id="trailer-select" name="trailer" data-selected=" {% if referral.trailer %} {{ referral.trailer }} {% endif %}">
                            <option value="" selected>Seleccione una opción</option>
                            {% for trailer in trailers %}
                            <option value="{{ trailer.placa }}" {% if referral.trailer.placa == trailer.placa %} selected {% endif %} >{{ trailer.placa }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-md-3 my-2">
                        <label for="weight" class="form-label">Peso Vacío <span
                            class="text-danger">*</span></label>
                        <input type="number" class="form-control" maxlength="20" id="weight"
                            placeholder="ingrese el peso del vehículo" value="{{ referral.peso_vacio|floatformat:'0' }}" name="weight" required>
                    </div>
               
                </div>
             
            </div>
            <div class="card-footer bg-white justify-content-end d-flex py-3">
                <a class="btn btn-secondary" type="button" href="{% url  'referrals' %}">Descartar</a>
                <button type="submit" class="btn btn-success ms-2">Guardar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}


{% block imports %}
<script type="text/javascript" src="{% static '/js/referral_form.js' %}"></script>
{% endblock %}